## Description of approach that I used

As given in the assignment I have to find the names that are similar and are around 200 metre in distance from each other. For this I sorted my csv file using .sort_values() function based on the name ,latitides and longitudes.
After sorting the file I ran some test cases to find the distance between coordinates and I got to know that they are almost less than 200 metre in distance.
After that I imported the difflib module of python that helped me in comparison of values of name column. I gave in the input of the name column. It gave me the output as 1 for the names that are similar and have minimum levensthien distance and it returned 0 as output for dissimilar names.

In [1]:
import pandas as pd

In [2]:
#importing the csv file
file=pd.read_csv("assignment_data.csv")

In [3]:
file.head()

               name   latitude  longitude
0   kbyJYJzqEVkEmpc  13.022860  77.688911
1   qbgufTPzZEkxNHV  13.093675  77.702779
2   XWIXkuyDacCmsaE  12.902879  77.633207
3  PWMPzEhgQSIJFtLl  12.864532  77.731435
4   PWMPzEhgQSIJFtL  12.865321  77.731473

In [13]:
#sorting the values based on the name , latitude and longitude
a=file.sort_values(by=['name',"latitude", "longitude",])[['name',"latitude", "longitude"]]

In [15]:
a.head()

                  name   latitude  longitude
1116   AAAUYpYhFgblIZH  13.038619  77.679910
10163  AAcJNFtiwtEjrrn  13.012294  77.726266
11133  ABDrZMkLBAcbLpe  12.915150  77.641385
11132   ABDrZMkLBcbLpe  12.914391  77.642164
2188   ABHTjTePdqmXxgd  12.931069  77.678818

In [18]:
#method to calculate the distance between two coordinates
import h3

In [21]:
coords_1 = (12.915150, 77.641385)
coords_2 = (12.914391, 77.642164)
distance = h3.point_dist(coords_1, coords_2, unit='m') # To get distance in meters

In [38]:
print(distance)

119.37857217343566

as we can see that the distance is coming out to be around 120 metres which is less than 200 metres.

In [32]:
import difflib

In [35]:
#adding a new column in our file and passing the output as 1 for similar string and 0 for rest.
a['is_similar'] = [(len(difflib.get_close_matches(x, a['name'], cutoff=0.7))>1)*1 
              for x in a['name']]

In [39]:
print(a)

                   name   latitude  longitude  is_similar
1116    AAAUYpYhFgblIZH  13.038619  77.679910           0
10163   AAcJNFtiwtEjrrn  13.012294  77.726266           0
11133   ABDrZMkLBAcbLpe  12.915150  77.641385           1
11132    ABDrZMkLBcbLpe  12.914391  77.642164           1
2188    ABHTjTePdqmXxgd  12.931069  77.678818           0
...                 ...        ...        ...         ...
1887    zyROgKTNQZxxyJO  12.865299  77.532986           0
1810    zzAZHiXWZgqrZsh  13.027641  77.622532           1
1809   zzAZHiXWZgqrZshj  13.027690  77.623029           1
5876    zzoiEgUtlDUfefx  12.906092  77.501628           1
5875     zzoiEgUtlDUfex  12.906514  77.500882           1

[11814 rows x 4 columns]

In [37]:
#Saving the output in a new csv file and naming the file as output.
a.to_csv('output.csv', index=False)